<h2>Connecting to a Database

In [1]:
import sqlite3
conn = sqlite3.connect('datascience_sqllite')
cursor = conn.cursor()

print("Opened Database successfully")

Opened Database successfully

<h2>Creating a table

In [2]:
cursor.execute('''CREATE TABLE STUDENTS1(
                    ID INT PRIMARY KEY NOT NULL,
                    NAME TEXT NOT NULL,
                    ADDRESS CHAR(50),
                    MARKS INT);''')
cursor.close()

<h2>Inserting the values

In [8]:
conn = sqlite3.connect('datascience_sqllite')
cursor = conn.cursor()

cursor.execute('INSERT INTO STUDENTS1 VALUES(101,"Mithun","Bengaluru",85)')

In [9]:
cursor.execute('INSERT INTO STUDENTS1 VALUES(102,"mochi","Bengaluru",90)')

In [10]:
for row in cursor.execute('SELECT * FROM STUDENTS1;'):
    print(row)

(101, 'Mithun', 'Bengaluru', 85)
(102, 'mochi', 'Bengaluru', 90)