* PyMongo is a python library that enables us to connect with MongoDB

In [1]:
import pymongo

In [2]:
pymongo.__version__   # to check the version number

'3.12.1'

* to connect NoSQL database we need to import the MongoClient()

In [3]:
from pymongo import MongoClient
client = MongoClient()   # create a instanace of the MongoClient() method

# this will create a connection with default host and port number

* the connection will be established to the default host and port number

In [4]:
print(client)  # it will display the localhost and port number

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

* we can create connection with user defined port numbers as well

In [5]:
client = MongoClient('localhost',27017)
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

* we can also use the URL format for connection

In [6]:
client = MongoClient('mongodb://localhost:27017')
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

<h2> Creating a database

* to create a database in MongoDB, we use the MongoClient instance and specify a database name. 
* MongoDB will create a database if it doesn't exist and connect to it.

In [7]:
db = client['datascience']  # database named datascience has been created

* to insert the values into the document

In [8]:
# creating a dictionary
student1 = {"name":"Virat",
            "class":"5th sem",
            "Subjects":["Big Data","python","no sql"]}

In [9]:
# inserting the values into the document
students = db.students   # document
result = students.insert_one(student1)   # to insert only one value at a time to the document database

In [10]:
print("Student key is: ", result.inserted_id)

Student key is:  6195f4bdc89617cb1dc52a33

In [11]:
# to check the collections created in the database
db.list_collection_names()

['students']

* to insert many values into the document

In [12]:
# creating a dictionary
student2 = {"name":"KL Rahul",
            "class":"5th sem",
            "Subjects":["Big Data","python","ML"]}

student3 = {"name":"Rohit",
            "class":"5th sem",
            "Subjects":["Big Data","EDA","no sql"]}

In [13]:
new_students = students.insert_many([student2,student3])

In [14]:
print("Student key is: ", new_students.inserted_ids)

Student key is:  [ObjectId('6195f4bdc89617cb1dc52a34'), ObjectId('6195f4bdc89617cb1dc52a35')]

* retreiving the  single document

In [15]:
# retreiving
db.students.find().count()

C:\Users\mithun\AppData\Local\Temp/ipykernel_12108/1473200020.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  db.students.find().count()

6

In [16]:
print(students.find_one())

{'_id': ObjectId('6171150e0af52a16789bacfa'), 'name': 'Virat', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'no sql']}

* to retreive all documents in a collection using the for loop

In [17]:
for i in students.find():
    print(i)

{'_id': ObjectId('6171150e0af52a16789bacfa'), 'name': 'Virat', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'no sql']}
{'_id': ObjectId('6171150e0af52a16789bacfb'), 'name': 'Mithun', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'ML']}
{'_id': ObjectId('6171150e0af52a16789bacfc'), 'name': 'Rohit', 'class': '5th sem', 'Subjects': ['Big Data', 'EDA', 'no sql']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a33'), 'name': 'Virat', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'no sql']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a34'), 'name': 'KL Rahul', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'ML']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a35'), 'name': 'Rohit', 'class': '5th sem', 'Subjects': ['Big Data', 'EDA', 'no sql']}

<h2>Updating a document

In [18]:
student2 = {"name":"KL Rahul"}             # specify which value to be changed
new_student2 ={"$set":{"name":"Mithun"}}   # specify the value to be changed

students.update_one(student2, new_student2)

In [19]:
for i in students.find():
    print(i)

{'_id': ObjectId('6171150e0af52a16789bacfa'), 'name': 'Virat', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'no sql']}
{'_id': ObjectId('6171150e0af52a16789bacfb'), 'name': 'Mithun', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'ML']}
{'_id': ObjectId('6171150e0af52a16789bacfc'), 'name': 'Rohit', 'class': '5th sem', 'Subjects': ['Big Data', 'EDA', 'no sql']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a33'), 'name': 'Virat', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'no sql']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a34'), 'name': 'Mithun', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'ML']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a35'), 'name': 'Rohit', 'class': '5th sem', 'Subjects': ['Big Data', 'EDA', 'no sql']}

<h2>Limiting the results

* MongoDB enables us to limit the result of the query using the limit(no. of documents to be retreived)

In [20]:
limited_result = students.find().limit(2)
for i in limited_result:
    print(i)

{'_id': ObjectId('6171150e0af52a16789bacfa'), 'name': 'Virat', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'no sql']}
{'_id': ObjectId('6171150e0af52a16789bacfb'), 'name': 'Mithun', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'ML']}

<h2>Deleting many documents

In [21]:
db.students.delete_many({'_id':'6171150e0af52a16789bacfa'})

In [22]:
for i in students.find():
    print(i)

{'_id': ObjectId('6171150e0af52a16789bacfa'), 'name': 'Virat', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'no sql']}
{'_id': ObjectId('6171150e0af52a16789bacfb'), 'name': 'Mithun', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'ML']}
{'_id': ObjectId('6171150e0af52a16789bacfc'), 'name': 'Rohit', 'class': '5th sem', 'Subjects': ['Big Data', 'EDA', 'no sql']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a33'), 'name': 'Virat', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'no sql']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a34'), 'name': 'Mithun', 'class': '5th sem', 'Subjects': ['Big Data', 'python', 'ML']}
{'_id': ObjectId('6195f4bdc89617cb1dc52a35'), 'name': 'Rohit', 'class': '5th sem', 'Subjects': ['Big Data', 'EDA', 'no sql']}