In [2]:
import numpy as np
import pandas as pd

In [4]:
# create series from ndarray
x1 = np.array(['AB',"VK","MS"])
seri = pd.Series(x1)
seri

0    AB
1    VK
2    MS
dtype: object

In [5]:
print(type(seri))

<class 'pandas.core.series.Series'>

In [6]:
# custom indexing in series
seri = pd.Series(x1,index=[100,101,102])
seri

100    AB
101    VK
102    MS
dtype: object

In [7]:
# modifying series elements
seri[3] = 'sdaf'   # if index is not specified then default values are assigned
seri

100      AB
101      VK
102      MS
3      sdaf
dtype: object

In [8]:
# creating Series using Dictinoary
dict = {101:"AB",102:"VK",103:"MS"}
seri = pd.Series(dict)
seri

101    AB
102    VK
103    MS
dtype: object

In [11]:
# create a series from scalar values
x = pd.Series(5, index=[100,200,200])
x[200]

200    5
200    5
dtype: int64

In [12]:
# creating a Datframe using a list
lis = [100,200,300,400]
pd.DataFrame(lis)

     0
0  100
1  200
2  300
3  400

In [16]:
# creating a 2D array with column names
data = [['AB',75],['Vk',102]]
df = pd.DataFrame(data, columns = ['player','score'])
df

  player  score
0     AB     75
1     Vk    102

<h2>Importing Data into pandas DataFrame</h2>

* pd.read_table(filename) - read any files with tab separated values
* pd.read_sql(query, connection) - read from a SQL table/Database
* pd.read_clipboard() - Takes contents of your clipboard and passes to read_table()

<h2>Exporting Data from pandas DataFrame</h2>

* df.to_csv(filename) - write to a CSV file
* df.to_json(filename) - write to a JSON file

In [20]:
weather = pd.read_csv('weather.csv')
weather.head()

        day  temprature  windspeed  event
0  1/1/2021        32.0        6.0   Rain
1  1/4/2021         NaN        9.0  Sunny
2  1/5/2021        28.0        NaN   Snow
3  1/6/2021         NaN        7.0    NaN
4  1/7/2021        32.0        NaN   Rain

In [21]:
# to view a particular column of DataFrame
weather['temprature']

0    32.0
1     NaN
2    28.0
3     NaN
4    32.0
5     NaN
6     NaN
7    34.0
8    40.0
Name: temprature, dtype: float64

In [22]:
# filter values in the DataFrame
weather[weather['temprature'] > 30]

         day  temprature  windspeed   event
0   1/1/2021        32.0        6.0    Rain
4   1/7/2021        32.0        NaN    Rain
7  1/10/2021        34.0        8.0  Cloudy
8  1/11/2021        40.0       12.0   Sunny

In [24]:
# usage of iloc() and loc()
weather.iloc[:2,]

        day  temprature  windspeed  event
0  1/1/2021        32.0        6.0   Rain
1  1/4/2021         NaN        9.0  Sunny

In [31]:
weather.loc[1]

day           1/4/2021
temprature         NaN
windspeed          9.0
event            Sunny
Name: 1, dtype: object